# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/.gitattributes
